/**
* manual iframe css
*/ 
body{
	font-family: Tahoma, Arial, Times New Roman;
	font-size:14;
}
h1{
	font-size:16;
} 
a {
	color:#2f526f
}

a:hover {
	color:#c4920a;
	text-decoration:none;
}

/**
* manual menu css
*/ 
#manual_menu{
	top: 102px;
	right: 1px;
	padding:0px;
	position:absolute; 
	z-index:401;  
	
}
#manual_menu #manual_title span{ 
	padding: 0px 0px 0px 10px;
	font-size: 13px; 
	font-weight:bold;  
}  
#manual_menu #manual_content{
	padding:5px 2px;
}
#manual_menu  #manual_content iframe{
	width:100%;
	border:0px none;
	overflow-y: scroll; overflow-x: hidden;
}
#manual_left{
	margin-top:30px;
	float:left;
	border-top:1px solid #999999; 
	border-left:1px solid #999999;  
	background-color:#f0f0f0;
	z-index:100;
	-moz-box-shadow: 1px 1px 10px #999; 	
	-webkit-box-shadow: 1px 1px 10px #999; 	
}

#manual_right{
	float:left; 
	border:1px solid #999999; 
	background-color:#f0f0f0;
	z-index:100;
	-moz-box-shadow: 1px 1px 10px #999; 	
	-webkit-box-shadow: 1px 1px 10px #999; 	  
	width: 370px; 
} 




#tab_global{  
	padding:8px;
	border-bottom:1px solid #999999;  
}
#tab_special{  
	padding:8px;
	border-bottom:1px solid #999999;  
}  
.tab_gray{
	background-color:gray; 
	color:white; 
	cursor:pointer;
}

.tab_gray a{
	background-color:gray; 
	color:white; 
}
.tab_gray a:hover{
	background-color:gray; 
	color:white; 
}
.tab_white{
	background-color:#ffffff; 
	color:#666666; 
	cursor:pointer; 
}


