
.ux_detail{
    background-color:white;
    border-left:1px solid #ccc;
    margin-left:5px;
    padding:5px 0px 0px 10px;
}

.ux_detail_item{
    border: 0px;
    background: transparent;
    font-size:13px;
}

.ux_dataview{
    background-color:white;
}