.wizard-step-on {
	text-align:left;
	font-family:Tahoma, Arial, Times New Roman;
	font-weight:bolder;
	line-height:60px;
	font-size:15px;
	color:white;
	padding: 5px;
}
.wizard-step-on-bg {
	background-color:#7da3bc;
	border:#DFE8F6 5px solid;
	height:40%;
}
.wizard-step-on-image {
	display: inline-block;
	float: left;
	width: 28px;
	height: 28px;
	background:url(/theme/images/index/wizard/step_on.png) no-repeat;
	text-align:center;
	color:white;
	padding-top: 5px;
	margin-left: 5px;
}
.wizard-step-off {
	text-align:left;
	font-family:Tahoma, Arial, Times New Roman;
	color:#cccccc;
	font-size:12px;
	line-height:35px;
	padding: 5px;
}
.wizard-step-off-bg {
	background-color:#ECEDED;
}
.wizard-step-off-image {
	background:url(/theme/images/index/wizard/step_off.png) no-repeat;
	text-align:center;
	color:#cccccc;
	padding:7px 11px 7px;
	margin-left: 5px;
}
.wizard-step-desc {
	padding-left:5px;
	font-weight:lighter;
	font-family:Tahoma, Arial, Times New Roman;
	font-size:12px;
	color:#eeeeee;
}
.wizard-desc-head {
	font-size:12px;
	font-weight:bolder;
	color:#2c5177;
}
.wizard-desc {
	font-size:12px;
	color:#2c5177;
}
.wizard-dynamic-desc {
	font-size:12px;
	font-weight:bolder;
	color:#879ab1;
	line-height:19px;
}
